<% content_for :title, t('users.show.title') %>
<h1>アカウント詳細ページ</h1>
<p>名前： <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to t('common.edit'), edit_user_path(@user), id:"destroy-user" %>
<%= link_to t('common.destroy'), @user, method: :delete, data: { confirm: t('common.confirm_destroy') }, id:"edit-user" %>
