.show-task,
.edit-task,
.destroy-task {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #5bc0de;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

.show-task:hover,
.edit-task:hover,
.destroy-task:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    text-decoration: none;
}
