<% content_for :title, t('admins.edit.title') %>
<h1><%= t('admins.edit.title')%></h1>
<%= render 'form', admin: @auser ,button_id: "update-user" %>
<%= link_to t('common.back'), admin_users_path, id: "back"%>
